<div class="parent">
  <div class="sidebar">
    <h1 class="hotel-name">California</h1>
    <ul class="menu" *ngIf="role == 'user'">
      <li routerLink="/user-home"><a class="options">Home</a></li>
      <li routerLink="/user-bookings"><a class="options">Bookings</a></li>
      <li (click)="onLogOut()"><a class="options">Log Out</a></li>
    </ul>
    <ul class="menu" *ngIf="role == 'staff'">
      <li routerLink="/staff-home"><a class="options">Home</a></li>
      <li routerLink="/staff-room-status"><a class="options">Room status</a></li>
      <li (click)="onLogOut()"><a class="options">Log Out</a></li>
    </ul>
  </div>
  <!-- Content -->
  <div class="content">
    <main class="main-container">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
