<div class="parent">
  <div class="sidebar">
    <h1 class="hotel-name">California</h1>
    <h2 class="user-name">Welcome, {{userData}}</h2>
    <ul class="menu">
      <li><a class="options" routerLink="">Rooms</a></li>
      <li><a class="options" routerLink="">Bookings</a></li>
      <li><a class="options" routerLink="">Cart</a></li>
      <li><a class="options" (click)="onLogOut()">Log Out</a></li>
    </ul>
  </div>
  <!-- Content -->
  <div class="content">
    <main class="main-container">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
